body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  grid-template-areas:
    ". . . . ."
    ". bt bt bt ."
    ". . rm . ."
    ". tb tb tb .";
}

.remaining {
  grid-area: rm;
  margin: auto;
}

.plate,
.empty-plate {
  background-image: url("http://www.clker.com/cliparts/9/9/f/0/1194984076762834840small_plate.svg.hi.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
}

.empty-plate {
  transform: rotateX(50deg) translateX(-50%);
  position: absolute;
  left: 50%;
  margin-bottom: 2px; /* Adjust the margin to make the distance very small */
}

.sushi-details {
  margin: auto;
  text-align: center;
}

.stack {
  position: relative;
  top: 30px;
}

.belt {
  grid-area: bt;
  display: flex;
  justify-content: space-evenly;
}

.sushi {
  min-width: 150px;
  margin: auto;
  cursor: pointer;
  position: relative;
  z-index: 1; /* Set a default z-index */
}

.sushi.eaten {
  display: none; /* Hide the sushi when it's eaten */
}

.sushi > img {
  max-height: 80px;
  width: auto;
}

.table {
  grid-area: tb;
  background-image: url("https://storybookstorage.s3.amazonaws.com/items/images/000/152/688/original/Table.png?1444827374");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 428px;
  width: 700px;
  margin: auto;
  position: relative;
}

.table .stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table .stack .plate {
  position: relative; /* Use relative positioning for the plates */
  margin-bottom: 2px; /* Adjust the margin to create space between plates */
}

.sushi.eaten + .plate {
  display: block; /* Display the empty plate when sushi is eaten */
}
